RelayLayer/Service References/AzureWebService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WCFServiceWebRole1.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="DataModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="Light" type="xs:int" />
      <xs:element minOccurs="0" name="SensorName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Temperature" type="xs:int" />
      <xs:element minOccurs="0" name="TimeOfData" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="DataModel" nillable="true" type="tns:DataModel" />
</xs:schema>