RelayLayer/Service References/AzureWebService/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/DataTableStorage.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/DataTableStorage.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://kitchenportal.cloudapp.net/Service1.svc?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/Microsoft.WindowsAzure.Storage.Table" />
  <xs:complexType name="SensorEntity">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/Microsoft.WindowsAzure.Storage.Table" base="q1:TableEntity">
        <xs:sequence>
          <xs:element minOccurs="0" name="light" type="xs:int" />
          <xs:element minOccurs="0" name="teperature" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="SensorEntity" nillable="true" type="tns:SensorEntity" />
</xs:schema>